.header {
  width: 100%;
  height: 3em;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  box-sizing: border-box;
  z-index: 100;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex: 1 0 auto;
  align-items: center;
}

.awesome {
  display: flex;
  flex-direction: row;
  width: 70%;
  flex: 1 0 auto;
  margin: 5% 0 5% 0;
}

.logo {
  width: auto;
  height: 3em;
  padding: 0 50px;
}

.header-links {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  justify-content: end;
  padding: 5px 5px 5px 5px;
}

.header-links button {
  font-size: 15px;
  margin-right: 30px;
  cursor: pointer;
}

.header-link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.header-link {
  background: none;
  border: none;
  color: #E5E7EB;
  margin-right: 15px;
}

.signup-btn {
  background: none;
  border: 2px solid green;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
}

.login-btn {
  background: green;
  border: 2px solid green;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px 10px 5px 10px;
  box-sizing: border-box;
}

.header-account-wrapper {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(48, 152, 7);
  padding: 0 0.5em 0 0;
  border-left: 0.2em solid rgb(234, 234, 234);
  box-sizing: border-box;
}

.header-account-wrapper:hover {
  background-color: rgb(32, 102, 2);
}

.header-account-username {
  color: #E5E7EB;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.header-account-image {
  background-image: url("../images/default-profile-picture.jpg");
  background-size: auto 100%;
  width: 2em;
  height: 2em;
  aspect-ratio: 1;
  border: 0.2em solid rgb(234, 234, 234);
  border-radius: 2em;
  box-sizing: border-box;
  margin-left: -1.1em;
}